.settings-card{
    display: flex;
    text-align: left;
    flex-direction: column;
    gap: 20px;
    background-color: #eee;
    border-radius: 3px;
    width: 50%;
    margin: auto;
    padding: 50px;
}

.username, .registered{
    text-transform: uppercase;
    font-weight: bold;
}

.logout{
    margin: auto;
}